.env
__pycache__/
*.pyc
aisstream-venv/
scraper-venv/
history-venv/
events-venv/
blog-venv/
gcp-service-account.json
*.csv
umap_backup*.json
/*.xlsx
/*.umap
.~lock.*#
/tracking/automatic/svg-report/status/
